:root {
    --dark-color: #2B2B2B;
    --light-color: #D5D5D5;
    --font-size-title: 18pt;
    --font-size-normal: 13pt;
    --font-size-normal: 11pt;
}
body {
    max-width: 1000px;
    padding: 0 5ch 0 5ch;
    font-family: Courier, monospace;
    font-size: var(--font-size-normal);
    color: var(--dark-color);
    margin: 0 auto;
    background: #F5F5F5;
}
header {
    margin-top: 30px;
    text-align: left;
}
nav {
    margin: 20px 0 50px 0;
    padding: 0 0 20px 0;
    text-align: right;
    border-bottom: 1px solid var(--light-color);
}
footer {
    margin-top: 60px;
    padding: 20px 0 30px 0;
    text-align: center;
    border-top: 1px solid var(--light-color);
}
a {
    color: var(--dark-text-color);
    font-weight: bold;
}
table {
    width: 100%;
    font-size: var(--font-size-normal);
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    padding: 0 18px 5px 0;
    text-align: left;
    border-bottom: 1px solid var(--dark-color);
}
th.post-header-date {
    width: 120px;
}
th.post-header-category {
    width: 120px;
}
td {
    padding: 8px 18px 0 0;
    text-align: left;
    vertical-align: top;
}
td.nowrap {
    white-space: nowrap;
}
span#site-title {
    font-size: var(--font-size-title);
    font-weight: bold;
}
span#site-sub-title {
    font-size: var(--font-size-small);
}
h1 {
    margin: 0 0 40px 0;
    font-size: var(--font-size-title);
    border-bottom: 1px solid var(--dark-color);    
}
h2 {
    margin: 0 0 30px 0;
    font-size: var(--font-size-title);
    border-bottom: 1px solid var(--dark-color);    
}
p#post-datetime {
    margin-bottom: 0;
}
p#post-category {
    margin: 5px 0 40px 0;
}
h2.resource-list-category a {
    float:right; 
    text-decoration:none;
}
div.resource-list-item {
    margin-bottom:24px;
}
div.resource-list-item > a {
    word-break: break-all;
}
div.resource-list-item span {
    float: right;
    font-weight: bold;
}
div.resource-list-item p {
    padding-left: 15px;
    border-left: 3px solid var(--light-color);    
}

@media (max-width: 600px) {
    span#site-title, h1, h2 {
        font-size: calc(var(--font-size-title) - 2pt);
    }
    body, table, pre {
        font-size: calc(var(--font-size-normal) - 2pt);
    }
    nav {
        /* text-align: left; */
    }
    span.menu-item:before {
        /* content: "»"; */
    }
    span.menu-item:after, span#copyright {
        content: "«\A";
        white-space: pre;
    }
    span.menu-bullet {
        display: none;
    }
}
